body {
  padding: 0;
  margin: 0;
  background-image: url('images/flower.jpg');
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato, sans-serif;
}

h3{
  font-size: 24px;
}

p, li{
  font-family: Merriweather, serif;
}

#thetop{
  margin: 0 5%;
}

#head{
  padding: 0% 20% 4%;
  text-align: center;
  position: relative;
  height: 100%;
}

#mainImg {
  border-radius:50%;
  position:static;
  box-shadow:3px 3px 3px 3px grey;
}

#holder{
  opacity: 0.6;
  transition: all 1s;
  filter: grayscale(100%);
}

#head:hover{
  background-color: transparent;
  opacity: 1;
  height: 92%;
  width: 60%;
  cursor: pointer;
}

#head:hover #holder{
  opacity: 1;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
  filter: grayscale(0);
}

#head:hover #overlay{
  opacity: 1;
  -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out;
}

h2{
  text-shadow: 2px 2px black;
}

#overlay{
  color: black;
  font-size: 16px;
  padding: 16px 32px;
  margin-top: 8%;
  margin-left: 12%;
  position: absolute;
  width: 30%;
  opacity: 0;
  text-align: center;
}

#overlay a{
  color: white;
}

#welcome {
  font-size: 26px;
  color: white;
}

#welcomePara {
  opacity: 0;
  color: white;
}

#thetop:hover #WelcomePara {
  -webkit-transition: 3s ease-in-out;
  transition: 2.5s ease-in-out;
  opacity: 1;
  color: white;
}

#head:hover #Welcome{
  -webkit-transition: 3s ease-in-out;
  transition: 2.5s ease-in-out;
  opacity: 1;
  color: white;
}

#head_main {
  margin: 26% 22% 14% 22%;
  position: absolute;
  opacity: 1;
  text-shadow: 2px 1px #ff1eaf;
  font-size: 30px;
}

#head:hover #head_main {
  -webkit-transition: 3s ease-in-out;
  transition: 2.5s ease-in-out;
  opacity: 0;
}

#overlay h2{
  margin: 6%;
  text-align: center;
}

#head:hover #overlay #head_top_left{
  position: absolute;
  -webkit-transition: 3s ease-in-out;
  animation: 3s slide-left;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
}

#head:hover #overlay #head_bottom_left{
  position: absolute;
  bottom: -240px;
  animation: 3s slide-left;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  -webkit-transition: 3s ease-in-out;

}

#head:hover #overlay #head_top_right{
  position: absolute;
  animation: 3s slide-right;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  -webkit-transition: 3s ease-in-out;
}

#head:hover #overlay #head_bottom_right{
  position: absolute;
  bottom: -240px;
  animation: 3s slide-right;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  -webkit-transition: 3s ease-in-out;
}

#head:hover #overlay #head_bottom{
  position: absolute;
  bottom: -240px;
  animation: 3s slide-down;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  -webkit-transition: 3s ease-in-out;
}

@keyframes slide-left {
  From {
    left: 0;
  }
  to {
    left: -140px;
  }
}

@keyframes slide-right {
  From {
    right: 0;
  }
  to {
    right: -180px;
  }
}

@keyframes slide-down {
  From {
    bottom: -240px;
    right: 135px;
  }
  to {
    bottom: -410px;
    right: 135px;
  }
}

#loading{
  display: none;
  position: fixed;
  left: 0;
}

#top_column {
  clear: both;
  width: 100%;
  padding-top:6%;
}

#middle_column {
  clear: both;
  width: 100%;
}

#last_column {
  clear: both;
  width: 100%;
}

.leftColumn{
  padding: 2% 10% 1px;
  text-align: center;
  background-color: #bdc3c7;
  background-size: 100%;
  clear: both;
}

.rightColumn{
  padding: 2% 10% 1px;
  text-align: center;
  background-color: #90A4AE;
  background-size: 100%;
  clear: both;
}

nav{
  z-index: 1;
  position: fixed;
}

nav ul{
  margin-top: 0;
  position:fixed;
  background-image: url('images/Banner.png');
  width:90%;
  font-size:0;
}

nav li{
  width:24%;
  text-align:center;
  padding:2% 0;
  float:left;
  font-size:24px;
}

nav a{
  color: black;
  text-shadow: 1px 1px white;
}

ul {
  list-style-type: none;
  padding: 0;
}

progress{
  margin-bottom: 2%;
  width: 70%;
}

#mainBody{
  display: none;
  background: white;
}

#about{
  padding-top:10%;
}

#skills{
  padding-top:10%;
}

#portfolio{
  padding-top:10%;
}

#work {
  padding-top:10%;
}

#contact{
  padding-top:10%;
}

#education{
  padding-top:10%;
}


.edu{
  margin: 2%;
  margin-top: 0;
  float: left;
}

.edu li{
  list-style-type: none;
  text-align: left;
}

#slides {
    position: relative;
    width: 200%;
    height: 120px;
    padding-top: 1%;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    display: inline-flex;
}

#slides li{
  width: 100%;
  margin: 0;
  float: left;
  overflow: hidden;
  position: relative;
  display: flex;
}


#bottomColumn{
  padding: 2%;
  clear: both;
  width: 100%;
}

#experience li{
  width: 30%;
  display:inline-block;
  padding:2% 0;
  font-size:18px;
}

.portfolio_Columns{
  margin: 1%;
}

#drawings{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(4,1fr);
  width: 100%;
  grid-gap: 1vw;
  grid-template-areas: "image1 image2 image3 image4"
                " image5 image6 image7 image8 "
                "image9 image10 image11 image12";
}

#web{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  grid-gap: 1vw;
  grid-template-areas: "Proj1 Proj2"
                "Proj3 Proj4";
}

.frame{
  border: 0;
}

.split{
  background-color: grey;
}

#social li{
  display:inline-block;
}

footer{
  padding:2% 0% 0%;
  text-align:center;
  width:100%;
  background-color: transparent;
  color: white;
}

footer p {
  text-shadow: 1px 1px black;
  margin-bottom: 0;
}

footer a{
  color: white;
}
